body{
    background-color:#3D087B;
}
.clock{
    position:absolute;
    top: 34px;
    left: 124px;
    width: 204px;
    height: 77px;
    opacity: 1;
}

.rectangle{
    position:absolute;
    top: 42px;
    left: 706px;
   width: 536px;
   height: 130px;
   background: #ffffff 0% 0% no-repeat padding-box;
border: 1px solid #ededed;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
z-index:1;
}
.time{
    position:absolute;
    top: 94px;
left: 745px;
width: 46px;
height: 26px;
font-family: 'Manrope', sans-serif;
color: #3d087b;
text-align: left;
letter-spacing: 0px;
color: #3D087B;
text-transform: uppercase;
opacity: 1;
z-index:2;
}
.hour{
    position:absolute;
    top: 62px;
left: 823px;
width: 80px;
height: 90px;
opacity:1;
z-index:2;
}
.minutes{
    position:absolute;
    top: 62px;
left: 922px;
width: 82px;
height: 90px;
    opacity:1;
    z-index:2;
}
.seconds{
position:absolute;
top: 62px;
left: 1019px;
width: 82px;
height: 90px;
opacity:1;
z-index:2;
}
.am{
    position:absolute;
    top: 62px;
left: 1121px;
width: 82px;
height: 90px;
opacity: 1;
z-index: 2;
}
.timedata{
    color:#3d087b;
    font-family: 'Manrope', sans-serif;
 
     
}
.hra{
    position:absolute;
    top: 67px;
left: 847px;
z-index: 3; 
width: 33px;
height: 43px;
font-size:x-large;
}
.mina{
    position: absolute;
    top: 68px;
left: 942px;
z-index: 3;
width: 41px;
height: 43px;
font-size:x-large;
}
.seca{
    position: absolute;
    top: 68px;
    left: 1043px;
    width: 32px;
    height: 43px;
    z-index: 3; 
    font-size:x-large;
}
.hrb{
position: absolute;
width: 56px;
height: 28px;
top: 111px;
left: 835px;
z-index: 3;
}
.minb{
    position: absolute;
    top: 110px;
left: 941px;
width: 46px;
height: 26px;
    z-index: 3;
}
.secb{
    position: absolute;
    top: 111px;
    left: 1036px;
    width: 44px;
    height: 26px;
    z-index: 3;
}
.dot1{
    position: absolute;
    z-index:2;
    top: 98px;
left: 911px;
width: 4px;
height: 22px;
}
dot2{
    position: absolute;
    z-index:2;
    top: 98px;
left: 1010px;
width: 4px;
height: 22px;
}
.amtxt{
    position:absolute;
    top: 86px;
left: 1138px;
width: 48px;
height: 43px;
color:white;
z-index:2;
font-size:2em;
font-family: 'Manrope', sans-serif;
}
.shadow1{
    position:absolute;
    top: 55px;
left: 766px;
width: 416px;
height: 130px;
border-radius: 10px;
opacity: 0.71;
width:416px;
height:130px;
background-color:#F6E2FF;
}
.shadow2{
    position:absolute;
    top: 67px;
left: 785px;
width: 379px;
height: 130px;
height:130px;
width:380px;
border-radius: 10px;
opacity: 0.22;
background-color:#F6E2FF ;
}
.settimebox{
    position:absolute;
    top: 149px;
left: 124px;
width: 566px;
height: 363px;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
background-color: #FFFFFF;
}
.sun{
    position:absolute;
    top: 169px;
left: 149px;
width: 34px;
height: 34px;
background-image: url(./media/morning.png);
opacity: 1;
}
.line1{
    color:#C2C2C2;
    position:absolute;
    top: 210;
    top: 220px;
    left: 165px;
    color:#C2C2C2;
    position:absolute;
    font-size:2em;
}
.lunch{
position:absolute;
background-image:url(./media/lunch.png);
top: 266px;
left: 149px;
width: 34px;
height: 34px;
opacity:1;
}
.nap{
    position:absolute;
    background-image:url(./media/nap.png);
    top: 362px;
left: 149px;
width: 34px;
height: 34px;
opacity: 1;
}
.night{
    position:absolute;
    top: 459px;
left: 149px;
width: 34px;
height: 34px;
opacity: 1;
z-index:2;
}
.line2{
    color:#C2C2C2;
    position:absolute;
    font-size:2em;
    top: 310px;
    left: 165px;
}
.line3{
    color:#C2C2C2;
    position:absolute;
    font-size:2em;
    top: 400px;
    left: 165px;
}
.setwake{
    position:absolute;
    top: 174px;
left: 204px;
width: 141px;
height: 23px;
color: #3D087B;
font-size:18px;
font-family: 'Barlow', sans-serif;
}
.setlunch{
    position:absolute;
    top: 271px;
left: 204px;
width: 119px;
height: 23px;
color: #3D087B;
font-size:18px;
font-family: 'Barlow', sans-serif;
}
.setnap{
    position:absolute;
    top: 367px;
left: 204px;
width: 105px;
height: 23px;
color: #3D087B;
font-size:18px;
font-family: 'Barlow', sans-serif;
}
.setnight{
    position:absolute;
    top: 464px;
left: 204px;
width: 117px;
height: 23px;
color: #3D087B;
font-size:18px;
font-family: 'Barlow', sans-serif;
}
.waketime{
position:absolute;
top: 177px;
left: 401px;
width: 86px;
height: 18px;
}
.lunchtime{
    position:absolute;
    top: 260px;
left: 400px;
width: 281px;
}
.naptime{
    position:absolute;
    top: 370px;
left: 401px;
width: 76px;
height: 18px;
}
.nighttime{
    position:absolute;
    top: 467px;
left: 401px;
width: 76px;
height: 18px;
}
.select{
    width: 281px;
    height: 45px; 
    border: 1px solid #EDEDED;
    color: #3D087BDE;
}
.grabbox{
position:absolute;
top: 212px;
left: 706px;
width: 536px;
height: 118px;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
background: #FFFFFF 0% 0% no-repeat padding-box;
}
.grab{
    position:absolute;
    top: 252px;
left: 728px;
width: 492px;
height: 38px;
font-family: 'Anton', sans-serif;
z-index:2;
font-weight:bold;
color:#8E53F0;
font-size:1.5em;
font-weight:bold;
font-size:xx-large;
letter-spacing:2px;
}
.goodmorningbox{
    position:absolute;
    top: 527px;
left: 124px;
width: 566px;
height: 77px;
border: 1px solid #EDEDED;
background: #EDEDED 0% 0% no-repeat padding-box;
opacity:0.23;
}
.goodmorning{
    position:absolute;
    top: 549px;
left: 149px;
width: 381px;
height: 34px;
color: #FFFFFF;
text-transform: uppercase;
text-align: left;
font-size:xx-large;
font-size:bold;
font-family: 'Anton', sans-serif;
letter-spacing:2px;
}
.curtain{
    position:absolute;
    top: 345px;
left: 707px;
width: 536px;
height: 341px;
opacity: 1;
}
.setalarmbox{
    position:absolute;
    top: 624px;
left: 124px;
width: 299px;
height: 50px;
background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
}
.setalarm{
    position:absolute;
    top: 634px;
left: 218px;
width: 111px;
height: 31px;
color: #FFFFFF;
opacity: 1;
font-size:1.5em;
}
.routinebox{
    position:absolute;
    top: 615px;
left: 437px;
width: 253px;
height: 117px;
background:#EDEDED 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 0.23;
}
.routine{
    position:absolute;
    top: 625px;
left: 449px;
width: 200px;
height: 94px;
color: #F25CFE;
opacity: 1;
font-family:'Manrope', sans-serif;
}